
/* LIGHTY */

.participantes__content__lighty {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__lighty {
    width: 20%;
}

.participantes__content__names__lighty {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__lighty {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* DEKU */

.participantes__content__deku {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__deku {
    width: 20%;
}

.participantes__content__names__deku {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__deku {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* REGIS */

.participantes__content__regis {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__regis {
    width: 20%;
}

.participantes__content__names__regis {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__regis {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* DUDU */

.participantes__content__dudu {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__dudu {
    width: 20%;
}

.participantes__content__names__dudu {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__dudu {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* KAI */

.participantes__content__kai {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__kai {
    width: 20%;
}

.participantes__content__names__kai {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__kai {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* FAFI */

.participantes__content__fafi {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__fafi {
    width: 20%;
}

.participantes__content__names__fafi {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__fafi {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* KUYTH */

.participantes__content__kuyth {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__kuyth {
    width: 20%;
}

.participantes__content__names__kuyth {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__kuyth {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* Daniel */

.participantes__content__daniel {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__daniel {
    width: 20%;
}

.participantes__content__names__daniel {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__daniel {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}

/* Lau */

.participantes__content__lau {
    margin: 4% 14%;
    align-items: center;
    display: flex;
    gap: 82px;
}

.image__pfp__lau {
    width: 20%;
}

.participantes__content__names__lau {
    font-family: var(--primary-font);
    padding: 2% 0% 2%;
}

.participantes__content__paragraph__lau {
    font-family: var(--secondary-font);
    padding: 2% 0% 2%;
}
